.why-choose-us {
    margin: 40px 0 0 0;
}

.why-choose-us__item-title {
    margin-right: 10px;
}

.why-choose-us__list {
    list-style: none;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.why-choose-us__item {
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.why-choose-us__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    background-color: var(--color-background-card-l);
    backdrop-filter: blur(10px);
    border: none;
    text-align: left;
}

.why-choose-us__item-arrow {
    transition: transform 0.3s ease;
    color: var(--color-primary);
}

.why-choose-us__item-arrow--open {
    transform: rotate(180deg);
}

.why-choose-us__item-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 15px;
    background-color: var(--color-background-card-l);
    backdrop-filter: blur(10px);
}

.why-choose-us__item-description--open {
    max-height: 500px;
    /* Увеличено для длинного текста */
    padding: 0 15px 15px 15px;
}