.company-stats {
    width: 100%;
    padding-bottom: 40px;
}

.company-stats__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 580px) {
    .company-stats__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (min-width: 769px) {
    .company-stats__container> :nth-child(even) .stat-item {
        align-items: flex-end;
        text-align: right;
    }
}