.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translate(-50%, -50%);
}

.plus-line.vertical,
.plus-line.horizontal {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: var(--color-primary);
    box-shadow: inset 4px 4px 4px -3px rgba(0, 0, 0, 0.3);

    transform: translate(-50%, -50%);
}

.plus-line.horizontal::after {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 32%;

    width: 37%;
    height: 100%;

    background: var(--color-primary);
    background: linear-gradient(315deg,
            var(--color-primary) 80%,
            var(--color-secondary) 100%);

    content: '';
}