.mission {
    margin: 40px 0;
}

.mission__title {
    text-align: right;
}

.mission__container {
    display: flex;
    align-items: flex-start;
}

.mission__image-wrapper {
    flex: 0 0 50%;
    margin-right: 40px;
}

.mission__image {
    width: 100%;
    height: auto;

    border-radius: 8px;
}

.mission__content {
    flex: 1;
    padding: 30px;

    text-align: left;

    background-color: var(--color-background-card-l);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
}

.mission__text {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .mission__container {
        flex-direction: column;
    }

    .mission__image-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }
}