.info-blocks {
    position: absolute;
    right: 0;
    bottom: 70px;
    left: 0;

    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    font-family: 'gilroy';
    font-weight: 600;

    box-sizing: border-box;
}

.info-blocks__block {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin: 0 10px;

    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.info-blocks__block--first {
    transform: translateX(-100%);
}

.info-blocks__block--second {
    transform: translateY(100%);
}

.info-blocks__block--third {
    transform: translateX(100%);
}

.info-blocks__image {
    width: 70px;
    margin-right: 1rem;

    transition: all 0.3s ease;
}

.info-blocks__text {
    font-size: 1rem;

    transition: all 0.3s ease;
}

@media (max-width: 992px) {
    .info-blocks {
        bottom: 40px;
    }

    .info-blocks__block {
        max-width: 30%;
    }

    .info-blocks__image {
        width: 50px;
    }

    .info-blocks__text {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .info-blocks {
        bottom: 50px;
    }

    .info-blocks__block {
        max-width: 45%;
        margin: 0;
    }

    .info-blocks__block--second {
        display: none;
    }
}

@media (max-width: 576px) {
    .info-blocks {
        bottom: 40px;
    }

    .info-blocks__image {
        width: 40px;
        margin-right: 0.5rem;
    }

    .info-blocks__text {
        font-size: 0.8rem;
    }

    .info-blocks__block {
        max-width: 100%;
    }
}