@font-face {
    font-family: 'gilroy';
    src: url(../fonts/Gilroy-Regular.woff2) format('woff2');
    src: url(../fonts/Gilroy-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url(../fonts/Gilroy-Bold.woff2) format('woff2');
    src: url(../fonts/Gilroy-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url(../fonts/Gilroy-Medium.woff2) format('woff2');
    src: url(../fonts/Gilroy-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url(../fonts/Gilroy-Semibold.woff2) format('woff2');
    src: url(../fonts/Gilroy-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

:root {
    --primary-color: #F2D4B7;
    --secondary-color: #181818;
    --text-light: #fff;
    --font-title: 36px;
    --font-text: 18px;
    --mobile-title: 2rem;
    --mobile-text: 1rem;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    height: 100%;
    font-family: 'gilroy';

}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Минимальная высота — вся высота viewport */
}

.app-content {
    flex-grow: 1;
    /* Занимает всё доступное пространство */
    display: flex;
    /* Делаем flex-контейнером */
    flex-direction: column;
    /* Располагаем дочерние элементы вертикально */
}