.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 480px) {
  .hero {
    background-position: 20% center;
  }

  .info-blocks .info-block:nth-child(3) {
    display: none;
  }

  .info-blocks .info-block:nth-child(1) {
    transform: translateX(-100%);
  }

  .info-blocks .info-block:nth-child(2) {
    transform: translateX(100%);
  }
}