@keyframes float1 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(0) translateX(-150px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(120px) translateX(0);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes float3 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(0) translateX(120px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes float4 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-120px) translateX(0);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes float5 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(130px) translateX(0);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes float6 {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-60px) translateX(90px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

.company-advantages {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding-bottom: 40px;

    overflow: hidden;
}

.company-advantages__content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.company-advantages__block {
    position: absolute;
    z-index: 2;

    width: 400px;
    height: 120px;
    padding: 15px;

    background-color: var(--color-background-card-l);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;

    backdrop-filter: blur(10px);
}

.company-advantages__block--top-left {
    top: 70px;
    left: 50px;

    transform: translateX(-50px);
}

.company-advantages__block--top-right {
    top: 60px;
    right: 50px;

    transform: translateX(50px);
}

.company-advantages__block--bottom-left {
    bottom: 130px;
    left: 70px;

    transform: translateX(-50px);
}

.company-advantages__block--bottom-right {
    right: 50px;
    bottom: 100px;

    transform: translateX(50px);
}

.company-advantages__text p {
    position: relative;
    z-index: 3;

    margin: 0;

    font-family: 'gilroy';
    color: var(--color-text-banner);
}

.company-advantages__center-image {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;

    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;

    transform: rotate(0deg);

    filter: url('#goo');
}

.company-advantages__center-image::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--b, rgba(0, 0, 0, 0));

    content: '';
    clip-path: polygon(97% 50%, 94% 64%, 88% 74%, 78% 80%, 67% 84%, 59% 88%, 50% 93%, 39% 93%, 28% 90%, 17% 83%, 8% 74%, 2% 62%, 0 50%, 1% 37%, 6% 27%, 14% 18%, 24% 11%, 37% 6%, 51% 4%, 65% 6%, 76% 11%, 85% 18%, 93% 27%, 97% 39%);
}

.company-advantages__circle {
    position: absolute;

    opacity: 1;
    transition: transform 1.5s ease, opacity 1.5s ease;

    transform: translateY(20px);
}

.company-advantages__circle--1 {
    z-index: 5;

    top: 1%;
    left: -2%;
}

.company-advantages__circle--2 {
    top: 24%;
    left: 32%;
}

.company-advantages__circle--3 {
    top: 1%;
    right: -2%;
}

.company-advantages__circle--4 {
    z-index: 5;

    top: 23%;
    right: 33%;
}

.company-advantages__circle--5 {
    bottom: 6%;
    left: 2%;
}

.company-advantages__circle--6 {
    z-index: 5;

    bottom: 35%;
    left: 33%;
}

.company-advantages__circle--7 {
    z-index: 5;
    right: -1%;
    bottom: 27%;
}

.company-advantages__circle--8 {
    right: 34%;

    bottom: 15%;
}

/* Анимации для кругов */
.company-advantages--visible .company-advantages__circle {
    transform: translateY(0);
}

.company-advantages--visible .company-advantages__block {
    opacity: 1;

    transform: translateX(0);
}

.company-advantages--visible .company-advantages__center-image {
    opacity: 1;

    transform: rotate(360deg);
}

.company-advantages__circle--2,
.company-advantages__circle--6 {
    animation: float1 30s ease-in-out infinite;
}

.company-advantages__circle--2 {
    animation-delay: 5s;
}

.company-advantages__circle--1,
.company-advantages__circle--3 {
    animation: float2 45s ease-in-out infinite;
}

.company-advantages__circle--4 {
    animation: float3 40s ease-in-out infinite;
}

.company-advantages__circle--5 {
    animation: float4 25s ease-in-out infinite;
}

.company-advantages__circle--7 {
    animation: float5 40s ease-in-out infinite;
}

.company-advantages__circle--8 {
    animation: float6 30s ease-in-out infinite;
}

@media (max-width: 1100px) {
    .company-advantages {
        height: 800px;
    }

    .company-advantages__block--top-left {
        top: 0px;
        left: 50px;

        transform: translateX(-50px);
    }

    .company-advantages__block--top-right {
        top: 140px;
        right: 50px;

        transform: translateX(50px);
    }

    .company-advantages__block--bottom-left {
        bottom: 140px;
        left: 70px;

        transform: translateX(-50px);
    }

    .company-advantages__block--bottom-right {
        right: 50px;
        bottom: 0px;

        transform: translateX(50px);
    }

    .company-advantages__circle--1 {
        top: -4%;
        left: -3%;
    }

    .company-advantages__circle--2 {
        top: 10%;
        left: 35%;
    }

    .company-advantages__circle--3 {
        top: 6%;
        right: -2%;
    }

    .company-advantages__circle--4 {
        top: 28%;
        right: 35%;
    }

    .company-advantages__circle--5 {
        bottom: 6%;
        left: 2%;
    }

    .company-advantages__circle--6 {
        bottom: 27%;
        left: 37%;
    }

    .company-advantages__circle--7 {
        right: -1%;

        bottom: 12%;
    }

    .company-advantages__circle--8 {
        right: 34%;

        bottom: 10%;
    }

    .company-advantages__circle--8 {
        animation: float3 30s ease-in-out infinite;
    }
}

/* Адаптация для 992px */
@media (max-width: 992px) {
    .company-advantages__circle--1 {
        z-index: 5;

        top: -4%;
        left: -3%;
    }

    .company-advantages__circle--2 {
        top: 10%;
        left: 43%;
    }

    .company-advantages__circle--3 {
        top: 6%;
        right: -2%;
    }

    .company-advantages__circle--4 {
        z-index: 5;

        top: 28%;
        right: 40%;
    }

    .company-advantages__circle--5 {
        bottom: 6%;
        left: 2%;
    }

    .company-advantages__circle--6 {
        z-index: 5;

        bottom: 27%;
        left: 44%;
    }

    .company-advantages__circle--7 {
        z-index: 5;
        right: -1%;
        bottom: 12%;
    }

    .company-advantages__circle--8 {
        right: 41%;

        bottom: 10%;
    }
}

/* Планшеты 768px */
@media (max-width: 768px) {
    .company-advantages {
        height: 600px;
    }

    .company-advantages__block--top-right,
    .company-advantages__block--bottom-left,
    .company-advantages__circle--3,
    .company-advantages__circle--4,
    .company-advantages__circle--5,
    .company-advantages__circle--6 {
        display: none;
    }

    .company-advantages__circle--1 {
        z-index: 1;

        top: -4%;
        left: -3%;
    }

    .company-advantages__circle--2 {
        top: 13%;
        left: 53%;
    }

    .company-advantages__circle--7 {
        z-index: 5;
        right: -1%;
        bottom: 12%;
    }

    .company-advantages__circle--8 {
        right: 50%;

        bottom: 14%;
    }
}

/* Мобильные 576px */
@media (max-width: 576px) {
    .company-advantages {
        height: 600px;
    }

    .company-advantages__center-image {
        width: calc(270px + (500 - 270) * ((100vw - 300px) / (576 - 300)));
        height: calc(270px + (500 - 270) * ((100vw - 300px) / (576 - 300)));
    }

    .company-advantages__circle--1 {
        z-index: 1;

        top: -7%;
        left: -3%;
    }

    .company-advantages__circle--2 {
        top: 14%;
        left: 63%;
    }

    .company-advantages__circle--7 {
        right: -1%;

        bottom: 16%;
    }

    .company-advantages__circle--8 {
        right: 67%;

        bottom: 13%;
    }
}

/* Маленькие мобильные 400px */
@media (max-width: 480px) {
    .company-advantages {
        height: 500px;
    }

    .company-advantages__block {
        min-height: 120px;
    }

    .company-advantages__block--top-left,
    .company-advantages__block--bottom-right {
        right: 20px;
        left: auto;

        width: calc(270px + (370 - 250) * ((100vw - 300px) / (480 - 300)));
        height: auto;
    }

    .company-advantages__block--bottom-right {
        right: auto;
        left: 20px;

        width: calc(270px + (370 - 250) * ((100vw - 300px) / (480 - 300)));
        height: auto;
    }

    .company-advantages__circle--1 {
        top: -5%;
        left: -3%;
    }

    .company-advantages__circle--2 {
        top: 14%;
        left: 73%;
    }

    .company-advantages__circle--7 {
        z-index: 1;
        right: 3%;
        bottom: 14%;
    }

    .company-advantages__circle--8 {
        right: 77%;

        bottom: 14%;
    }
}

@media (max-width: 400px) {
    .company-advantages__circle--7 {
        right: -5%;

        bottom: 14%;
    }
}