.company-info {
    color: white;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.company-info__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}

.company-info__name {
    max-width: 30%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.company-info__description {
    max-width: 65%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.company-info__text {
    margin: 0;
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
    .company-info__content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .company-info__name,
    .company-info__description {
        max-width: 100%;
    }
}