.info-block {
    display: flex;
    align-items: center;
    max-width: 33.33%;
}

.info-block:first-child {
    margin-right: 20px;
}

.info-block:last-child {
    margin-left: 20px;
}

.info-block__image {
    width: 80px;
    height: 80px;

    color: var(--color-text-hover);

    object-fit: contain;
}

.info-block__svg-image {
    background-color: currentColor;

    mask-image: var(--svg-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: var(--svg-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.info-block__text {
    padding-left: 20px;
}