.language-switcher {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.language-switcher__btn {
    position: relative;

    padding: 0.25rem 0.5rem;

    font-size: 1rem;
    color: var(--color-lang);

    background: transparent;
    border: none;
    transition: all 0.3s ease;

    cursor: pointer;
}

.language-switcher__btn:hover,
.language-switcher__btn--active {
    color: var(--color-lang-hover);
}

.language-switcher__btn--active::after {
    position: absolute;
    bottom: -5px;
    left: 50%;

    width: 70%;
    height: 2px;

    background-color: var(--color-lang-hover);
    border-radius: 2px;

    transform: translateX(-50%);

    content: '';
}

.language-switcher__divider {
    margin: 0 0.25rem;

    color: var(--color-lang);
}

/* Для мобильной версии */
@media (max-width: 768px) {
    .language-switcher {
        justify-content: center;
        margin: 1.5rem 0 0;
    }

    .language-switcher__btn {
        padding: 0.5rem 1rem;

        font-size: 1.25rem;
    }

    .language-switcher__divider {
        margin: 0 0.5rem;
    }
}