.footer {
    margin-top: 50px;
    padding-bottom: 20px;

    font-size: 14px;
    font-weight: 500;

    background-color: var(--color-background-log);
}

.footer__top-line {
    width: 100%;
    height: 2px;
    margin-bottom: 30px;

    background-color: var(--color-log-line);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__column {
    flex: 0 0 auto;
}

.footer__column:nth-child(1),
.footer__column:nth-child(2) {
    margin-right: auto;
    padding-right: 20px;

    text-align: left;
}

.footer__column:nth-child(3),
.footer__column:nth-child(4) {
    margin-left: auto;
    padding-left: 20px;

    text-align: right;
}

.footer__column:first-child {
    display: flex;
    flex-direction: column;

    font-weight: 600;
    color: var(--color-logo);
}

.footer__column:first-child p:first-child {
    font-size: 30px;
}

.footer__column:first-child p:last-child {
    font-size: 20px;
    color: var(--color-text-hover);
}

.footer__company-name {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: bold;
    color: var(--color-log-text);
}

.footer__nav-list {
    padding: 0;

    list-style: none;
}

.footer__nav-item {
    margin-bottom: 20px;
}

.footer__nav-item a {
    color: var(--color-log-text);
    text-decoration: none;

    transition: color 0.3s ease;
}

.footer__nav-item a:hover {
    color: var(--color-text-hover);
}

.footer__phone,
.footer__email {
    display: block;
    margin-bottom: 20px;

    color: var(--color-log-text);
    text-decoration: none;

    transition: color 0.3s ease;
}

.footer__phone:hover,
.footer__email:hover {
    color: var(--color-text-hover);
}

.footer__social-icons {
    display: flex;
    justify-content: flex-end;

    gap: 10px;
}

.footer__social-svg {
    display: inline-block;
    width: 24px;
    height: 24px;

    color: white;

    background-color: currentColor;
    transition: all 0.3s ease;

    mask-image: var(--svg-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-image: var(--svg-url);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.footer__social-link:hover .footer__social-svg {
    color: var(--color-secondary);
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.footer__social-link {
    margin-right: 20px;
}

.footer__social-link:last-child {
    margin-right: 0;
}

.footer__social-link {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.footer__bottom {
    padding-top: 10px;

    font-family: 'gilroy';
    font-size: 12px;
    color: var(--color-log-text);
    text-align: center;
}

.footer__bottom p {
    margin: 0;
}

@media (max-width: 767.98px) {
    .footer__column {
        flex: 0 0 calc(50% - 20px);
    }

    .footer__column:nth-child(1),
    .footer__column:nth-child(3) {
        margin: 0;
        margin-right: 0;
        padding: 0 0 15px;
        padding-right: 0;

        text-align: left;
    }

    .footer__column:nth-child(2),
    .footer__column:nth-child(4) {
        margin: 0;
        margin-left: 0;
        padding: 0 0 15px;
        padding-left: 0;

        text-align: right;
    }

    .footer__social-icons {}
}

@media (max-width: 359.98px) {
    .footer__column {
        flex: 0 0 100%;

        text-align: left !important;
    }

    .footer__column:nth-child(2),
    .footer__column:nth-child(3),
    .footer__column:nth-child(4) {
        padding: 0;
    }

    .footer__social-icons {
        justify-content: flex-start;
    }

    .footer__bottom {
        margin-top: 15px;
    }
}