.additional-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 40px 0;
}

.additional-section {
    background-color: var(--color-background-card-l);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.requisites-list {
    list-style: none;
    padding: 0;
}

.requisites-item {
    margin-bottom: 10px;
    display: flex;
}

.requisites-item:last-child {
    margin-bottom: 0;
}

.requisites-label {
    font-weight: 500;
    margin-right: 5px;
    color: var(--color-text);
    min-width: 120px;
    max-width: 120px;
}

.requisites-value {
    color: var(--color-text-gray);
}

/* FAQ */
.faq-list {
    list-style: none;
    padding: 0;
}

.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--color-dark);
}

.faq-item:last-child {
    margin-bottom: 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    background: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: left;
    transition: color 0.3s ease;
    font-size: 16px;
    color: var(--color-text-gray);
}

.faq-question--open {
    color: var(--color-text);
}

.faq-arrow {
    transition: transform 0.3s ease;
    margin-left: 10px;
    color: var(--color-text);
}

.faq-arrow--open {
    transform: rotate(180deg);
    color: var(--color-text);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0;
    color: var(--color-text-gray);
}

.faq-answer--open {
    max-height: 500px;
    padding: 0 0 12px 0;
}

@media (max-width: 768px) {
    .additional-sections {
        grid-template-columns: 1fr;
    }
}