.public-offer {
    padding-top: 120px;
}

.public-offer__content {
    margin: 2.5rem 0;
}

.public-offer__section {
    padding: 1.5rem;

    background-color: var(--color-background-card-l);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
}