.advantages {
    margin: 40px 0;
}

.advantages__list {
    list-style: none;
    padding: 0;
}

.advantages__item {
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.advantages__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
    width: 100%;
    background-color: var(--color-background-card-l);
    backdrop-filter: blur(10px);
    border: none;
    text-align: left;
}

.advantages__item-header--open .advantages__item-title {
    color: var(--color-title);
}

.advantages__item-title {
    transition: color 0.3s ease;
}

.advantages__item-arrow {
    transition: transform 0.3s ease;
}

.advantages__item-arrow--open {
    transform: rotate(180deg);
}

.advantages__item-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 15px;
    background-color: var(--color-background-card-l);
    backdrop-filter: blur(10px);
}

.advantages__item-description--open {
    max-height: 500px;
    padding: 0 15px 15px 15px;
}