.advantages {
    margin: 40px 0;
}

.advantages__list {
    padding: 0;

    list-style: none;
}

.advantages__item {
    margin-bottom: 10px;

    transition: all 0.3s ease;

    overflow: hidden;
}

.advantages__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

    text-align: left;

    background-color: var(--color-background-card-l);
    border: none;
    transition: color 0.3s ease;

    cursor: pointer;
    backdrop-filter: blur(10px);
}

.advantages__item-header--open .advantages__item-title {
    color: var(--color-title);
}

.advantages__item-title {
    transition: color 0.3s ease;
}

.advantages__item-arrow {
    transition: transform 0.3s ease;
}

.advantages__item-arrow--open {
    transform: rotate(180deg);
}

.advantages__item-description {
    max-height: 0;
    padding: 0 15px;

    background-color: var(--color-background-card-l);
    transition: max-height 0.5s ease, padding 0.5s ease;

    overflow: hidden;
    backdrop-filter: blur(10px);
}

.advantages__item-description--open {
    max-height: 500px;
    padding: 0 15px 15px 15px;
}