.contacts-window {
  position: absolute;
  z-index: 999;
  top: 100px;
  right: 20px;

  width: 290px;
  padding: 20px;

  background-color: var(--color-background-card-l);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  transform: translateY(-20px);

  backdrop-filter: blur(10px);
}

.contacts-window.visible {
  opacity: 1;

  transform: translateY(0);
}

.contacts-window__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  gap: 10px;
}

.contacts-window__line {
  width: 50px;
  height: 2px;
  margin-bottom: 0;

  background-color: var(--color-background-log);
}

.contacts-window__title {
  margin: 0 0 0 10px !important;
}

.contacts-window__subtitle {
  margin-bottom: 15px;

  font-size: 18px;
  color: var(--color-lang);
}

.contacts-window__contacts-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contacts-window__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contacts-window__info {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 600;
  color: var(--color-lang);
  text-decoration: none;

  transition: color 0.3s ease-in-out;
}

.contacts-window__info:hover {
  color: var(--color-text-hover);
}

.contacts-window__email {
  display: block;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 600;
  color: var(--color-lang);
  text-decoration: none;

  transition: color 0.3s ease-in-out;
}

.contacts-window__email:hover {
  color: var(--color-text-hover);
}

.contacts-window__socials {
  display: flex;

  gap: 15px;
}

.contacts__social-svg {
  display: inline-block;
  width: 24px;
  height: 24px;

  color: white;

  background-color: currentColor;
  transition: all 0.3s ease;

  mask-image: var(--svg-url);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: var(--svg-url);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.contacts__social-link:hover .contacts__social-svg {
  color: var(--color-secondary);
}

.contacts__social-list {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.contacts__social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
}